/* CSS custom properties / CSS variables */

:root {
  --darkmagenta: #8b008b;
  --magenta: #ff00ff;
  --royalblue: #4169e1;
  --teal: #008080;
  --violet: #9400d3;
}

/* Use attribute selectors for the first part of the exercise */

li[class="dog"] {
  color: var(--magenta);
}
li[id="cat"] {
  color: var(--teal);
}
li[class="parrot"] {
  color: var(--green);
}
li[class="donkey"] {
  color: var(--royalblue);
}
li[class="hedgehog"] {
  color: var(--magenta);
}
li[class="cat dog parrot"] {
  color: var(--royalblue);
}

/* Use descendant, child, and sibling selectors for the second part */

.list-food ol,
.list-cleaning ol {
  color: var(--green);
}
.second {
  color: var(--darkmagenta);
}
.second ~ li {
  color: var(--royalblue);
}
.second ~ li + li {
  color: var(--darkmagenta);
}
